* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.video-container {
  display: block;
  unicode-bidi: isolate;
}

#background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

header {
  background-color: #0d0233;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left,
.nav-right {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-left li a,
.nav-right li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.nav-left li a:hover,
.nav-right li a:hover {
  color: #ff007f;
}

.logo a img {
  height: 50px;
  border-radius: 50%; /* Rounded logo */
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 50px;
  color: blanchedalmond;
  font-weight: 500px;
}

.Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.Welcome p {
  font-size: 18px; /* Adjust size for the paragraph */
  margin: 0; /* Remove default margin to control spacing */
  line-height: 1.6;
}

footer {
  text-align: center; /* Center the text */
  background-color: #333; /* Dark background */
  color: white; /* White text for contrast */
  padding: 10px 0; /* Padding for space inside the footer */
  width: 100%; /* Make sure footer stretches full width */
}
