* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #0d0233;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left,
.nav-right {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 50px;
}

.nav-left li a,
.nav-right li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.nav-left li a:hover,
.nav-right li a:hover {
  color: #ff007f;
  text-shadow: 0 0 5px rgba(255, 0, 127, 0.5);
}

.logo a img {
  height: 50px;
  border-radius: 50%;
}

main {
  position: relative;
}

/* Hero Section with Fullscreen Video */
.video-background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content-overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content-overlay p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  background-color: #00ffff;
  color: #0a001f;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
}

.btn:hover {
  background-color: #ff007f;
  color: #ffffff;
}

/* Event overview */
.event-overview {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
}

.event-overview h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.event-overview p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

/* highlights section */

.highlights {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  background-color: #fff;
}

.highlights article {
  flex: 1 1 300px;
  margin: 20px;
  padding: 20px;
  background-color: #0a001f;
  border-radius: 8px;
  text-align: center;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.highlights article:hover {
  background-color: #ff007f;
}

.highlights article h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.highlights article p {
  font-size: 1rem;
}

/* Speakers page section */

/*speakers-intro*/

.speakers-intro {
  padding: 50px;
  background-color: #fff;
  text-align: center;
}

.speakers-intro h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #0a001f;
}

.speakers-intro p {
  font-size: 1.2rem;
  color: #0a001f;
  margin-bottom: 50px;
}

/*speakers-grid*/

.speakers {
  padding: 100px;
  text-align: center;
  background: linear-gradient(135deg, #ff007f, #662270);
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.speaker {
  background-color: rgb(21, 18, 67);
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.speaker h2 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #d3d3d3;
  text-align: center;
}

.speaker p {
  font-size: 1rem;
  color: #d3d3d3;
  text-align: center;
  margin-top: 15px;
}

/* Footer */
.footer {
  background-color: #0d0233;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}
